In [1]:
from py2neo import Graph, Path
import numpy as np
import pandas as pd

In [2]:
graph = Graph('http://localhost:7474/')

In [16]:
with open('../dat/output_edges.csv', 'r') as f:
    raw_edges = f.read().splitlines()
    
edge_arr = np.zeros((len(raw_edges), 2))
for i in range(len(raw_edges)):
    temp = raw_edges[i].split(',')
    edge_arr[i, 0] = int(temp[0])
    edge_arr[i, 1] = int(temp[1])

In [30]:
raw_dat = pd.read_csv('../dat/output.csv')
node_dat = raw_dat[['Cluster ID', 'Id', 'Site name', 'Address', 'Zip', 'Phone']].sort_values(by='Id')
node_dat.head()

,Cluster ID,Id,Site name,Address,Zip,Phone
0,0,0,salvation army - temple / salvation army,1 n ogden ave,NaN,2262649.0
1,0,1,salvation army - temple / salvation army,1 n ogden ave,NaN,2262649.0
10,1,2,national louis university - dr. effie o. ellis...,10 s kedzie ave,NaN,5339011.0
11,1,3,national louis university - dr. effie o. ellis...,10 s kedzie ave,NaN,5339011.0
20,2,4,board trustees-city colleges of chicago - oliv...,10001 s woodlawn ave,NaN,2916100.0

In [32]:
np.amin(node_dat['Id'] == range(node_dat.shape[0]))

False

In [52]:
tx = graph.begin(autocommit=False)

statement = "CREATE (n:school {name:{NAME}, address:{ADDR}, zip:{ZIP}, phone:{PHONE}})"

for i in range(10):
    tx.run(statement, {'NAME': node_dat.iloc[i]['Site name'],
                         'ADDR': node_dat.iloc[i]['Address'],
                         'ZIP': node_dat.iloc[i]['Zip'],
                         'PHONE': node_dat.iloc[i]['Phone']})

tx.commit()

In [56]:
graph.data("MATCH (n) RETURN n;")

[{'n': (c8d0479:school {address:"1 n ogden ave",name:"salvation army - temple / salvation army",phone:2262649.0,zip:NaN})},
 {'n': (b0adc6d:school {address:"1 n ogden ave",name:"salvation army - temple / salvation army",phone:2262649.0,zip:NaN})},
 {'n': (cf17e6b:school {address:"10 s kedzie ave",name:"national louis university - dr. effie o. ellis training center",phone:5339011.0,zip:NaN})},
 {'n': (da36bc8:school {address:"10 s kedzie ave",name:"national louis university - dr. effie o. ellis training center",phone:5339011.0,zip:NaN})},
 {'n': (f34ffa6:school {address:"10001 s woodlawn ave",name:"board trustees-city colleges of chicago - olive-harvey college",phone:2916100.0,zip:NaN})},
 {'n': (fc685e3:school {address:"10001 s woodlawn ave",name:"board trustees-city colleges of chicago - olive-harvey college",phone:2916100.0,zip:NaN})},
 {'n': (fb58dd3:school {address:"1001 w roosevelt rd",name:"easter seals society of metropolitan chicago - gilchrist-marchman",phone:9395115.0,zip:NaN})},
 {'n': (b6f3ea1:school {address:"1001 w roosevelt rd",name:"easter seals society of metropolitan chicago - gilchrist-marchman",phone:9395115.0,zip:NaN})},
 {'n': (d79e570:school {address:"1020 w bryn mawr ave",name:"hull house association - uptown head start / hull house",phone:7695753.0,zip:NaN})},
 {'n': (f40e905:school {address:"1030 w van buren st",name:"hull house association - child dev. central office- hull house cds-homes",phone:9068600.0,zip:NaN})}]

In [57]:
#graph.run("MATCH (n) DELETE n;")