In [1]:
from py2neo import Graph, Path
import numpy as np
import pandas as pd
import stringdist

In [2]:
graph = Graph('http://localhost:7474/')

In [78]:
with open('../dat/output_edges.csv', 'r') as f:
    raw_edges = f.read().splitlines()
    
edge_arr = np.zeros((len(raw_edges), 2))
for i in range(len(raw_edges)):
    temp = raw_edges[i].split(',')
    edge_arr[i, 0] = int(temp[0])
    edge_arr[i, 1] = int(temp[1])

In [22]:
raw_dat = pd.read_csv('../dat/output.csv')
node_dat = raw_dat[['Cluster ID', 'Id', 'Site name', 'Address', 'Zip', 'Phone']].sort_values(by='Id')
node_dat.head()

,Cluster ID,Id,Site name,Address,Zip,Phone
0,0,0,salvation army - temple / salvation army,1 n ogden ave,NaN,2262649.0
1,0,1,salvation army - temple / salvation army,1 n ogden ave,NaN,2262649.0
10,1,2,national louis university - dr. effie o. ellis...,10 s kedzie ave,NaN,5339011.0
11,1,3,national louis university - dr. effie o. ellis...,10 s kedzie ave,NaN,5339011.0
20,2,4,board trustees-city colleges of chicago - oliv...,10001 s woodlawn ave,NaN,2916100.0

In [80]:
np.amin(node_dat['Id'] == range(node_dat.shape[0]))

False

In [81]:
%%time

tx = graph.begin(autocommit=False)

statement = "CREATE (n:ids {school:{SCHOOLID}, cluster:{CLUSTERID}})"

for i in range(len((node_dat))):
    tx.run(statement, {'SCHOOLID': float(node_dat.iloc[i]['Id']),
                         'CLUSTERID': float(node_dat.iloc[i]['Cluster ID']),
                        })

tx.commit()

tx = graph.begin(autocommit=False)

statement = "CREATE (n:addresses {address:{ADDR}})"

for i in node_dat['Address'].unique():
    tx.run(statement, {'ADDR': i})

tx.commit()

tx = graph.begin(autocommit=False)

statement = "CREATE (n:names {name:{SCHOOLNAME}})"

for i in node_dat['Site name'].unique():
    tx.run(statement, {'SCHOOLNAME': i})

tx.commit()

tx = graph.begin(autocommit=False)

statement = "CREATE (n:zipcodes {zip:{SCHOOLZIP}})"

for i in node_dat['Zip'].unique():
    tx.run(statement, {'SCHOOLZIP': i})

tx.commit()

tx = graph.begin(autocommit=False)

statement = "CREATE (n:phones {phone:{SCHOOLPHONE}})"

for i in node_dat['Phone'].unique():
    tx.run(statement, {'SCHOOLPHONE': i})

tx.commit()

CPU times: user 2.37 s, sys: 12 ms, total: 2.38 s
Wall time: 2.67 s

In [4]:
graph.data("MATCH (n) RETURN n LIMIT 10;")

[{'n': (ee286c6:ids {cluster:0.0,school:0.0})},
 {'n': (c3882d2:ids {cluster:0.0,school:1.0})},
 {'n': (cb67d58:ids {cluster:1.0,school:2.0})},
 {'n': (b770627:ids {cluster:1.0,school:3.0})},
 {'n': (dcaa8ab:ids {cluster:2.0,school:4.0})},
 {'n': (fbae017:ids {cluster:2.0,school:5.0})},
 {'n': (fdbff9d:ids {cluster:3.0,school:6.0})},
 {'n': (eec2351:ids {cluster:3.0,school:7.0})},
 {'n': (fa6cc69:ids {cluster:4.0,school:8.0})},
 {'n': (e57158a:ids {cluster:5.0,school:9.0})}]

In [5]:
graph.data('MATCH (n:zipcodes {zip:60608}) RETURN n LIMIT 10')

[{'n': (d4b9a00:zipcodes {zip:60608.0})}]

In [84]:
#graph.run('MATCH (n) DELETE n')
#graph.data('MATCH (n) RETURN n;')

In [85]:
%%time

tx = graph.begin(autocommit=False)

statement = "MATCH (a:ids),(b:addresses) \
           WHERE a.school = {ID} AND \
           b.addresses = {ADDR} \
           CREATE (a)-[r:HAS_ADDRESS]->(b) \
           RETURN r"

for i in range(len(node_dat)):
    tx.run(statement, {'ID': float(node_dat.iloc[i]['Id']),
                      'ADDR': str(node_dat.iloc[i]['Address'])})

tx.commit()

tx = graph.begin(autocommit=False)

statement = "MATCH (a:ids),(b:names) \
           WHERE a.school = {ID} AND \
           b.name = {NAME} \
           CREATE (a)-[r:HAS_NAME]->(b) \
           RETURN r"

for i in range(len(node_dat)):
    tx.run(statement, {'ID': float(node_dat.iloc[i]['Id']),
                      'NAME': str(node_dat.iloc[i]['Site name'])})

tx.commit()

tx = graph.begin(autocommit=False)

statement = "MATCH (a:ids),(b:zipcodes) \
           WHERE a.school = {ID} AND \
           b.zip = {ZIP} \
           CREATE (a)-[r:HAS_ZIP]->(b) \
           RETURN r"

for i in range(len(node_dat)):
    tx.run(statement, {'ID': float(node_dat.iloc[i]['Id']),
                      'ZIP': str(node_dat.iloc[i]['Zip'])})

tx.commit()

tx = graph.begin(autocommit=False)

statement = "MATCH (a:ids),(b:phones) \
           WHERE a.school = {ID} AND \
           b.phone = {PHONE} \
           CREATE (a)-[r:HAS_NAME]->(b) \
           RETURN r"

for i in range(len(node_dat)):
    tx.run(statement, {'ID': float(node_dat.iloc[i]['Id']),
                      'PHONE': str(node_dat.iloc[i]['Phone'])})

tx.commit()

CPU times: user 6.96 s, sys: 80 ms, total: 7.04 s
Wall time: 14.8 s

In [86]:
#graph.run('MATCH (n) DETACH DELETE n')
#graph.data('MATCH (n) RETURN n')

In [10]:
graph.data('MATCH (a:ids)-[:HAS_NAME]->(b:names) \
            WHERE a.school = 2 \
            RETURN a, b')

[{'a': (cb67d58:ids {cluster:1.0,school:2.0}),
  'b': (bd59844:names {name:"national louis university - dr. effie o. ellis training center"})}]

## match exact dupes

In [3]:
graph.data('MATCH (a:ids)-[:HAS_NAME]->(b:names) \
            WHERE b.name = "national louis university - dr. effie o. ellis training center" \
            RETURN a')

[{'a': (fdc36ff:ids {cluster:1.0,school:1227.0})},
 {'a': (f5b3949:ids {cluster:1.0,school:1228.0})},
 {'a': (f4643c2:ids {cluster:1.0,school:511.0})},
 {'a': (e1b9165:ids {cluster:1.0,school:512.0})},
 {'a': (b0500e9:ids {cluster:1.0,school:3.0})},
 {'a': (ac04beb:ids {cluster:1.0,school:2.0})}]

Let's now calc distances to all other schools. School ID 3 HAS_NAME, HAS_ZIP, etc. Compare these property nodes to all others and calc a single distance for each school.

In [23]:
node_dat[node_dat['Id'] == 3]

,Cluster ID,Id,Site name,Address,Zip,Phone
11,1,3,national louis university - dr. effie o. ellis...,10 s kedzie ave,NaN,5339011.0

In [35]:
diff3 = pd.DataFrame(columns=['id', 'cluster', 'name diff', 'address diff', 'zip diff', 'phone diff'])

In [36]:
diff3

Empty DataFrame
Columns: [id, cluster, name diff, address diff, zip diff, phone diff]
Index: []

In [64]:
#for i in node_dat['Id'].unique():
for i in range(10):
    row = []
    numero = i
    
    output = graph.data('MATCH (a:ids)-[:HAS_NAME]->(b:names) \
                        WHERE a.school = {NUMERO} \
                        RETURN a.school, a.cluster, b.name', {'NUMERO':numero})
    
    row.append(output[0]['a.school'])
    row.append(output[0]['a.cluster'])
    row.append(stringdist.levenshtein(node_dat[node_dat['Id'] == 3]['Site name'], output[0]['b.name']))
    
    output = graph.data('MATCH (a:ids)-[:HAS_ADDRESS]->(b:addresses) \
                        WHERE a.school = {NUMERO} \
                        RETURN b.address', {'NUMERO':numero})
    
    row.append(stringdist.levenshtein(node_dat[node_dat['Id'] == 3]['Address'], output[0]['b.address']))

TypeError: argument 1 must be str, not Series

In [47]:
numero = 47

output = graph.data('MATCH (a:ids)-[:HAS_NAME]->(b:names) \
            WHERE a.school = {NUMERO} \
            RETURN a.school, a.cluster, b.name', {'NUMERO': numero})

print(output)
print('\n')
print(output[0]['b.name'])
print('school id', output[0]['a.school'])
print('cluster id', output[0]['a.cluster'])

[{'b.name': 'el hogar del nino/cuidar - el hogar del nino/el centro - loomis', 'a.school': 47.0, 'a.cluster': 31.0}]


el hogar del nino/cuidar - el hogar del nino/el centro - loomis
school id 47.0
cluster id 31.0